.container{
  background-color: aquamarine !important;
}

.childContainer{
  background-color: white;
  margin: 10px 10px 10px 10px;
  
}
.input{
  margin-bottom: 20px;
}

.ant-table-column-title{
  color: rgb(29, 29, 122) !important;
  font-size: large !important; 
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.listitem{
  color: black !important;
}
